astroid==2.4.1
autopep8==1.5.2
backcall==0.2.0
blessings==1.7
certifi==2020.6.20
chardet==3.0.4
curtsies==0.3.4
decorator==4.4.2
Django==2.2.24
greenlet==0.4.16
idna==2.10
ipython-genutils==0.2.0
isort==4.3.21
jedi==0.17.2
lazy-object-proxy==1.4.3
mccabe==0.6.1
parso==0.7.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.1.1
prompt-toolkit==3.0.7
ptyprocess==0.6.0
pycodestyle==2.6.0
pygeoip==0.3.2
Pygments==2.7.4
pylint==2.5.2
pylint-django==2.0.15
pylint-plugin-utils==0.6
pytz==2019.2
requests==2.24.0
six==1.14.0
sqlparse==0.3.0
toml==0.10.1
traitlets==5.0.4
urllib3==1.26.5
wcwidth==0.2.5
wrapt==1.11.2
