{% extends 'base.html' %} {% load static %} {% block content %}
<div class="main-context container">
  <div class="page-heading">
    <label>Change Password</label>
  </div>
  <form method="POST" class="entry-form" id="registration-form">
    {% csrf_token %}

    <div class="input-warnings">{% if messages %} {% for message in messages %} {{ message }} {% endfor %} {% endif %}</div>

    <input type="text" placeholder="Current Password" name="old_password" required />
    <input type="text" placeholder="New Password" name="new_password1" required />
    <span class="helptext">
      <ul>
        <li>Your password can't be too similar to your other personal information.</li>
        <li>Your password must contain at least 8 characters.</li>
        <li>Your password can't be a commonly used password.</li>
        <li>Your password can't be entirely numeric.</li>
      </ul>
    </span>
    <input type="text" placeholder="Confirm New Password" name="new_password2" required />

    <input type="submit" value="  Change Password  " />
  </form>
</div>

{% endblock %}
