{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <title>
      Everone's Library
    </title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/style.css' %}" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js"></script>
  </head>

  <body>
    <header id="main-header">
      <div class="container flex-display">
        <h1>Everone's Library</h1>
        <div id="weather-wiget"></div>
      </div>
    </header>
    {% block nav %}
    <nav id="navbar">
      <div class="container">
        <ul>
          <li>
            <a href="/" {% if home_page %} class="is_active" {% endif %}>Home</a>
          </li>
          <li>
            <a href="/books" {% if book_page %} class="is_active" {% endif %}>Books</a>
          </li>
          <li>
            <a href="/authors" {% if author_page %} class="is_active" {% endif %}>Authors</a>
          </li>
          <li>
            <a href="/blogs" {% if blog_page %} class="is_active" {% endif %}>Blogs</a>
          </li>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <li></li>
          {% if request.session.is_admin %}
          <li>
            <a href="/add_book" {% if add_book_page %} class="is_active" {% endif %}>Add Book</a>
          </li>
          {% endif %}
          <li>
            <a href="/author/hello" {% if test_page %} class="is_active" {% endif %}>Test</a>
          </li>

          {% if user.is_authenticated %}
          <a href="/logout"><button>Logout</button></a>
          <li id="login_info">
            Hello,
            <a href="/account" {% if account_page %} class="is_active" {% endif %}>{{user.first_name}} {{user.last_name}}</a>
          </li>
          {% else %}
          <button id="btn_login" style="width: auto;">
            Login
          </button>
          <a href="/register"><button>Register</button></a>
          {% endif %}
        </ul>
      </div>
    </nav>
    {% if not user.is_authenticated %}
    <div id="login-popup" class="modal">
      <form action="/login" class="modal-content animate" method="POST">
        {% csrf_token %}

        <div class="login-top">
          <span onclick="document.getElementById('login-popup').style.display='none'" class="close" title="Close Login">&times;</span>
          <img src="{% static 'images/img_avatar2.png' %}" alt="Avatar" class="avatar" />
        </div>
        <div class="login-main">
          <label for="usrn"><b>Username</b></label>
          <input id="username" type="text" placeholder="Enter Username" name="username" required />

          <label for="pswd"><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="password" required />

          <input type="submit" value="Login" />

          <label><input type="checkbox" checked="checked" />Remember me</label>
        </div>
        <div class="login-bottom">
          <button type="button" onclick="document.getElementById('login-popup').style.display='none'" class="cancelbtn">
            Cancel
          </button>
          <span class="psw">Forgot <a href="#">password?</a></span>
        </div>
      </form>
    </div>
    <script>
      // Get the modal
      var modal = document.getElementById("login-popup");
      // When the user clicks anywhere outside of the modal, close it
      window.onclick = function (event) {
        if (event.target == modal) {
          modal.style.display = "none";
        }
      };

      var login_button = document.getElementById("btn_login");
      login_button.onclick = function (show_login) {
        modal.style.display = "block";
        document.getElementById("username").focus();
      };
    </script>
    {% endif %} {% endblock %} {% block content %} {% endblock %}

    <footer id="main-footer">
      <p>
        Library Management, Copyright &copy; 2019. MyWebsite&reg;, Md Zafar Hassan
      </p>
    </footer>
  </body>
</html>

<script>
  $(document).ready(function () {
    weather();
  });

  function weather() {
    $.ajax({
      url: "/weather",
      dataType: "html",
      success: function (result) {
        $("#weather-wiget").empty();
        $("#weather-wiget").append(result);
      },
      error: function () {
        alert("error");
      },
    });
  }
</script>
