{% extends 'base.html' %}

{% block content %}
<form id='calculate' action="result">
    <div class="'container">
        <input type="text" name="num1">
        <input type="text" name="num2">
        <input type="submit">
        <button id="'btn_show">Show Result</button>
    </div>
</form>

<script>
    var modal = document.getElementById('calculate');
    var btn = document.getElementById('btn_show');


    btn.onclick = function(show_result){
        modal.submit;
    }



</script>

{% endblock %}
