{% extends 'base.html' %} {% load static %} {% block content %}
<div class="main-context container">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, minus maiores. Vel labore, sunt illo nesciunt dolorem, pariatur voluptate enim eum quaerat quo explicabo deleniti facere doloribus, corporis voluptatem non! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet obcaecati asperiores ipsa enim veniam reprehenderit provident, deleniti sit temporibus, incidunt quaerat dignissimos voluptatum, tempora nihil eius neque saepe totam architecto. Lorem ipsum dolor sit amet
  consectetur adipisicing elit. Sint hic sit perspiciatis asperiores repellat adipisci provident, porro amet labore pariatur dicta incidunt animi culpa dolore repudiandae id nemo optio. Vero.
</div>

{% endblock %}
