{% extends 'base.html' %} {% load static %} {% block content %}
<div class="main-context container">
  <div class="blog-main">
    <form action="/blog_add"></form>
    <input type="text" name="blog_title" id="" placeholder="Title" />
    <input type="date" name="blog_date" id="" />
    <input type="text" name="blog_category" id="" placeholder="Category" />
    <input type="text" name="blog_content" id="" placeholder="Write your intresting story..." />
    <input type="text" name="blog_tags" id="" placeholder="Tags" />
    <input type="submit" value="Save" />
  </div>
</div>

{% endblock %}
