{% extends 'base.html' %} {% load static %} {% block content %}

<div class="main-context container">
  <div class="page-heading">
    <label>{{page_heading}}</label>
    <div class="page-side-menu">
      {% if not add %}
      <a href="/add_book">Add New Book</a>
      {% endif %} {% if not delete %}
      <a href="/add_book/delete">Delete Book</a>
      {% endif %} {% if not restore %}
      <a href="/add_book/restore">Restore Book</a>
      {% endif %}
    </div>
  </div>
  {% if add %}<!-- ADD New Book-->
  <form enctype="multipart/form-data" action="/add_book" method="POST" class="entry-form">
    {% csrf_token %}
    <label for="id_book_type">Book type:</label>
    <input type="text" name="book_type" maxlength="50" required id="id_book_type" />

    <label for="id_book_name">Book name:</label>
    <input type="text" name="book_name" maxlength="150" required id="id_book_name" />

    <label for="id_book_author">Book author:</label>
    <input type="text" name="book_author" maxlength="100" required id="id_book_author" />

    <label for="id_book_genre">Book genre:</label>
    <input type="text" name="book_genre" maxlength="50" required id="id_book_genre" />

    <label for="id_book_year">Book year:</label>
    <input type="text" name="book_year" maxlength="4" required id="id_book_year" />

    <label for="id_book_publications">Book publications:</label>
    <input type="text" name="book_publications" maxlength="100" required id="id_book_publications" />

    <label for="id_book_pages_count">Book pages count:</label>
    <input type="number" name="book_pages_count" required id="id_book_pages_count" />

    <label for="id_book_front_cover">Book front cover:</label>
    <input type="file" name="book_front_cover" accept="image/*" required id="id_book_front_cover" />

    <input type="submit" name="Add BooK" />
  </form>
  {% else %}<!-- DELETE/RESTORE Old Books-->
  {% endif %}
</div>

{% endblock %}
