body {
  background-color: #f4f4f4;
  color: #555;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  margin: 0;
}

.container {
  width: 95%;
  padding: 15px;
  margin: auto;
  overflow: hidden;
}

.main-context {
  margin-top: 40px;
}
.flex-display {
  display: flex;
}

#main-header {
  background-color: coral;
  color: #fff;
}

#main-header h1 {
  width: inherit;
}

#weather-wiget {
  /* min-width: 15%; */
  align-items: center;
  display: flex;
  font-size: xx-large;
  font-weight: bolder;
}

#weather-wiget img {
  padding: 0px 10px 0px 0px;
  height: 100%;
}

#weather-wiget ul {
  line-height: 0.5em;
  padding: 0px 0px 0px 10px;
  margin: 0px;
  list-style: none;
}

#weather-wiget ul li {
  font-weight: normal;
  font-size: 0.8rem;
  clear: both;
  overflow: hidden;
  white-space: nowrap;
}

#navbar {
  font-size: 18px;
  background-color: #333;
  color: #fff;
  margin: 0px;
  padding: 0;
}

#navbar ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#navbar li {
  color: #bababa;
  display: inline;
}

#navbar a {
  color: #bababa;
  font-weight: bolder;
  text-decoration: none;
  padding-right: 15px;
}

#navbar a.is_active {
  color: #fff;
}

#login_info {
  float: right;
  padding: 0px 10px;
}

#navbar button {
  float: right;
  background: #5ff2f7;
  color: #c16509;
  font-size: 18px;
  border-radius: 60px;
  padding: 2px 20px;
}

#navbar button:hover {
  float: right;
  background-color: black;
}

#showcase {
  background-image: url("../images/showcase.jpg");
  background-position: center right;
  margin-bottom: 30px;
  text-align: center;
}

#showcase h1 {
  color: #fff;
  font-size: 30px;
  line-height: 1.4em;
}

#showcase h2 {
  color: #fff;
  font-size: 20px;
  line-height: 1.2em;
}

#main {
  float: left;
  width: 70%;
  padding: 0 30px;
  box-sizing: border-box;
}

#sidebar {
  float: right;
  width: 25%;
  background: #333;
  color: #fff;
  padding: 10px;
  box-sizing: border-box;
}

#main-footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
  margin-top: 40px;
}

/*
@media (max-width: 600px) {
  #main {
    width: 100%;
    float: none;
  }

  #sidebar {
    width: 100%;
    float: none;
  }
}
*/

.page-heading {
  display: inline-flex;
  width: 100%;
}

.page-heading label {
  font-size: 35px;
  font-weight: bold;
  margin: auto;
}

.page-heading .page-side-menu a {
  padding: 0 20px;
}
/* LoginPopup CSS Starts here */

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  padding-top: 0px;
}

.modal-content {
  color: #000;
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 30%; /* Could be more or less, depending on screen size */
}

.login-top {
  margin-top: 10px;
  text-align: center;
  position: relative;
}

.login-top img.avatar {
  margin-top: 20px;
  width: 40%;
  border-radius: 50%;
}
.close {
  position: absolute;
  top: 0;
  right: 10px;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

.login-main {
  padding: 30px 15px 0 15px;
}

.login-main input {
  width: 100%;
  display: inline-block;
  box-sizing: border-box;
  border: 1px solid #333;
  padding: 5px;
  font-size: 18px;
}

.login-main input[type="checkbox"] {
  width: auto;
}

.login-main input[type="submit"] {
  margin-top: 20px;
  margin-bottom: 10px;
  border: none;
  background-color: #4caf50;
  color: #fff;
  font-size: 20px;
}

.login-main input[type="submit"]:hover {
  background-color: #3d8f40;
}

.login-bottom {
  padding: 20px 15px;
  background-color: #cccccc;
}

.login-bottom .cancelbtn {
  font-size: 16px;
  background-color: #ff0000;
  border: none;
  padding: 5px 15px;
}

.login-bottom .cancelbtn:hover {
  background-color: #f76666;
}

.login-bottom span {
  float: right;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/*  LoginPopup CSS Ends here*/

/* Registration Form css starts here */
.entry-form {
  width: 55%;
  background-color: grey;
  margin: auto;
  padding: 30px 60px;
}

.entry-form input {
  width: 100%;
  padding: 5px 20px;
  margin: 8px 0;
  display: inline-block;
  box-sizing: border-box;
  font-size: 20px;
  border: 1px solid #ccc;
}

.entry-form input[type="submit"] {
  margin-top: 35px;
  background: #32b121;
  color: #fff;
  border: 1px solid #32b121;
}
.entry-form input[type="file"] {
  font-size: 16px;
  background: #fff;
}

.entry-form input[type="checkbox"] {
  width: auto;
}

#registration-form {
  width: 50%;
}

/* Registration Form css ends here */

.input-error {
  color: red;
  font-size: 16px;
}

.input-warnings {
  color: #ff7300;
  font-size: 16px;
}

.input-information {
  color: blue;
  font-size: 16px;
}

.input-sucess {
  color: #008000;
  font-size: 16px;
}

.book-section {
  width: 100%;
  padding: 10px;
  margin: 10px;
  text-align: inherit;
}

.book-container {
  background-color: #cccccc;
  border-radius: 10px;
  display: inline-block;
  padding: 5px;
  margin: 5px;
  width: 17%;
  transition: 0.4s;
  line-height: 1.3;
}

.book-container-action {
  width: 12%;
}

.book-container:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.book-container img {
  width: 100%;
  height: 250px;
}

.book-tile {
  font-size: 14px;
  font-weight: bold;
  display: block;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.book-author {
  font-size: 12px;
  font-weight: bold;
}

.book-button button {
  width: 48%;
  height: 31px;
  font-size: 17px;
  padding: 0px;
  margin: 15px 0 5px 0px;
  border: none;
  border-radius: 15px;
  box-shadow: 0px -2px 14px 0px;
  font-family: serif;
}

.book-button button.btnBookInfo {
  background-color: #68b0ff;
}

.book-button button.btnBookBuy {
  background-color: #fda853;
}

.book-button button.btnRestore {
  background-color: #00ee4f;
}

.book-button button.btnDelete {
  background-color: #ff3535;
}

#account-user-info .img-section {
  position: relative;
  width: 15%;
}

#account-user-info .img-section img {
  display: block;
  width: 100%;
  height: auto;
}

#account-user-info .img-section .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #008cba;
}

#account-user-info .img-section:hover .overlay {
  opacity: 0.5;
}

#account-user-info .img-section input {
  visibility: hidden;
}

#account-user-info .img-section label {
  opacity: 1;
  background-color: #ccc;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

/* #account-user-info .img-section input[type="file"] {
  visibility: hidden;
} */

#account-detail-update {
  text-align: left;
  font-size: 18px;
  font-weight: bold;
  width: 50%;
}

#account-detail-update input {
  color: #000;
  font-size: 20px;
  width: 500px;
  margin: 8px 0;
  padding: 2px 10px;
  display: inline-block;
  box-sizing: border-box;
  background-color: inherit;
  border: none;
}

#account-detail-update input.edit {
  color: #333;
  border: 1px solid #ccc;
  background-color: #ffffff;
  /*
  font-size: 20px;
  width: 500px;
  margin: 8px 0;
  padding: 2px 10px;
  display: inline-block;
  box-sizing: border-box; */
}

#account-detail-update button {
  margin-top: 2rem;
  color: white;
  font-size: 16px;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 5px 20px;
}

#account-detail-update button:hover {
  box-shadow: none;
}

#account-detail-update button#btn_edit {
  background-color: #0000ff;
}

#account-detail-update button#btn_cancel {
  margin-right: 5rem;
  background-color: #ff0000;
}

#account-detail-update button#btn_submit {
  background-color: #00ff00;
}

/* Add New Blog style starts here */
.new-blog-main {
  width: 75%;
  background-color: #fff;
}
/* Add New Blog style ends here */

/* Blog CSS starts here*/
.blog-top-button {
  padding: 1em 0;
}

.blog-top-button button.add-new {
  padding: 0.5em;
  font-size: 1.25em;
  background: #008cba;
  color: #ffffff;
  border: none;
  border-radius: 5px;
}

.blog-section {
  border: solid #f7f7f9;
  border-width: 0.2rem;
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.post-container {
  position: relative;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  width: 20rem;
  margin: auto;
  margin-top: 0;
  margin-bottom: 4rem;
}

.post-container img {
  height: 180px;
  width: 100%;
  display: block;
}

.post-container .post-body {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1rem;
}

.post-container .post-body h5 {
  margin-bottom: 0.5rem;
  font-size: 1.35rem;
  font-weight: 500;
  color: inherit;
  margin-top: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.post-container .post-body .post-content {
  margin-top: 0;
  margin-bottom: 1rem;
  height: 6rem;
  word-wrap: break-word;
  text-overflow: ellipsis;
  overflow: hidden;
}

.post-container .post-body .btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

/* Blog CSS ends here*/

/* Account Dashboard CSS Starts here */

/* Account Dashboard CSS Ends here */
